@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  --font-family-editor: Roboto Mono, monospace;
  --font-family-preview: Roboto Mono, monospace;
}

.CodeMirror-line {
  line-height: 20px;
  padding-top: 0 !important;
}
